/*
main color: #862e9c
accent: #ffd1d1
grey: #495057
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  color: #ffd1d1;
}

.container {
  height: 100vh;
}

.navbar {
  display: flex;
  width: 100%;
  background-color: #862e9c;
  height: 6%;
  align-items: center;
}

.navbar-left {
  display: flex;
  align-items: flex-end;
  margin-left: 0.3125rem;
  margin-right: auto;
}

.navbar-center #search {
  padding: 7px;
  width: 300%;
  border-radius: 5px;
  border: none;
}

.navbar-right {
  display: flex;
  align-items: flex-end;
  margin-right: 0.3125rem;
}

.sidebar {
  position: absolute;
  width: 0;
  height: 100%;
  z-index: 1;
  transition: 0.5s;
  overflow-x: hidden;
  white-space: nowrap;
  display: flex;
  background-color: rgba(0, 0, 0, 0.9);
  flex-direction: column;
  align-items: center;
}

.sidebar a {
  padding: 8px;
  text-decoration: none;
  font-size: 1.44rem;
  color: #818181;
  display: block;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.icon {
  stroke: #ffd1d1;
  stroke-width: 2;
  width: 20px;
  height: 20px;
}

.icon:hover {
  cursor: pointer;
}

button {
  border: none;
  padding: 7px;
  color: #ffd1d1;
  background-color: #862e9c;
}

button:hover {
  cursor: pointer;
}

.month {
  font-size: 1.728rem;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  height: 94vh;
}

th {
  border-top: none;
  background-color: #862e9c;
  height: 40px;
}

td {
  border: black solid 1px;
  border-left: none;
  vertical-align: top;
  color: #495057;
}

.calendar {
  position: relative;
}

.track-view {
  margin: auto;
  height: 94%;
  width: 70%;
  display: flex;
  color: #495057;
  background-color: white;
  box-shadow: 4px 8px 20px 0 rgba(0, 0, 0, 0.17);
}

.track-menu {
  height: 100%;
  display: flex;
  gap: 20px;
  flex-shrink: 0;
  flex-direction: column;
  margin-right: 15%;
  width: 75%;
}

.exercice {
  border-radius: 5px;
  width: 85%;
  box-shadow: 4px 8px 20px 0 rgba(0, 0, 0, 0.17);
}

.tracker {
  height: 100%;
  width: 25%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.workout {
  border-radius: 5px;
  text-align: center;
  width: 85%;
  height: 10%;
  box-shadow: 4px 8px 20px 0 rgba(0, 0, 0, 0.17);
}

.workout .icon {
  stroke-width: 1;
  stroke: black;
  width: 32px;
  height: 32px;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.17);
  position: absolute;
  backdrop-filter: blur(3px);
  top: 0;
  z-index: 1;
}

.modal-window {
  text-align: center;
  width: 30%;
  background-color: white;
  box-shadow: 5px 13px 30px 0 rgba(0, 0, 0, 0.11);
  height: 80%;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.hidden {
  display: none;
}
